body {
    font-family: Arial, sans-serif;
    background: #76aadf;
}

h1{
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 4px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
}

input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 15px;
}

button {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-left: 100px;
}
textarea {
    height: 100%;
    width: 30%;
    margin-left: 20px;
    border-radius: 15px;
}
#output {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #32daf0;
    background: #eef6ff;
    border-radius: 5px;
}