.profile {
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 15px;
}
.skills h2{
    text-align: center;
}
.skill-card {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
/* For screens smaller than 768px */
@media (max-width: 768px) {
    .profile {
        flex-direction: column; /* Stacks image on top of bio */
    }

    .grid-container {
        grid-template-columns: 1fr; /* Changes grid to 1 column */
    }
}

.contact h2{
    text-align: center;
    background-color: rgb(228, 174, 235);
    color: rgb(192, 89, 106);
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
    color: blueviolet;
}
input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 15px;
}
button {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-left: 100px;
}
textarea {
    height: 100%;
    width: 30%;
    margin-left: 20px;
    border-radius: 15px;
}